xsd/InputSchemaEVAA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="setPerCorner_t">
		<xs:sequence>
			<xs:element name="RearRight" type="xs:decimal" />
			<xs:element name="RearLeft" type="xs:decimal" />
			<xs:element name="FrontLeft" type="xs:decimal" />
			<xs:element name="FrontRight" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EVAA_t">
		<xs:sequence>
			<xs:element name="Vehicle">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TwoTrackModel">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Geometry">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="LateralReferenceToWheel"  type="setPerCorner_t" >
												</xs:element>
												<xs:element name="LongitudinalReferenceToWheel" type="setPerCorner_t" >
												</xs:element>
												<xs:element name="SuspensionSprings" type="setPerCorner_t" >
												</xs:element>
												<xs:element name="TireSprings" type="setPerCorner_t" >
												</xs:element>
											</xs:sequence>
											<xs:attribute name="referenceCoordinateSystem" type="xs:string" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="Stiffness">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Tyre" type="setPerCorner_t" >
												</xs:element>
												<xs:element name="Body" type="setPerCorner_t" >
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Mass">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Body">
													<xs:complexType>
														<xs:attribute name="mass" type="xs:decimal" use="required" />
													</xs:complexType>
												</xs:element>
												<xs:element name="Tyre" type="setPerCorner_t">
												</xs:element>
												<xs:element name="UnsprungMass" type="setPerCorner_t">
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Inertia">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Body">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="XX" type="xs:decimal" />
															<xs:element name="XY" type="xs:decimal" />
															<xs:element name="XZ" type="xs:decimal" />
															<xs:element name="YX" type="xs:decimal" />
															<xs:element name="YY" type="xs:decimal" />
															<xs:element name="YZ" type="xs:decimal" />
															<xs:element name="ZX" type="xs:decimal" />
															<xs:element name="ZY" type="xs:decimal" />
															<xs:element name="ZZ" type="xs:decimal" />
														</xs:sequence>
														<xs:attribute name="referenceCoordinateSystem" type="xs:string" use="required" />
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InputFileEVAA" type="EVAA_t"> </xs:element>
</xs:schema>