xsd/IP_EVAA_XML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="EVAA_XML" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:complexType name="legs_t">
    <xs:sequence>    
      <xs:element name="rr" type="xs:double"/>
      <xs:element name="rl" type="xs:double"/>
      <xs:element name="fl" type="xs:double"/>
      <xs:element name="fr" type="xs:double"/>
    </xs:sequence>    
  </xs:complexType>

  <xs:complexType name="vector_t">
    <xs:sequence>
      <xs:element name="x" type="xs:double"/>
      <xs:element name="y" type="xs:double"/>
      <xs:element name="z" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="legs_vector_t">
    <xs:sequence>
      <xs:element name="rr" type="vector_t"/>
      <xs:element name="rl" type="vector_t"/>
      <xs:element name="fl" type="vector_t"/>
      <xs:element name="fr" type="vector_t"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="car_settings_t">
    <xs:sequence>
      <xs:element name="car">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="k_tyre" type="legs_t"/>
            <xs:element name="k_body" type="legs_t"/>
            <xs:element name="c_tyre" type="legs_t"/>
            <xs:element name="c_body" type="legs_t"/>
            <xs:element name="l_lat" type="legs_t"/>
            <xs:element name="l_long" type="legs_t"/>
            <xs:element name="mass_wheel" type="legs_t"/>
            <xs:element name="mass_tyre" type="legs_t"/>
            <xs:element name="lower_spring_length" type="legs_t"/>
            <xs:element name="upper_spring_length" type="legs_t"/>
            <xs:element name="mass_body" type="xs:double" />
            <xs:element name="I_body_xx" type="xs:double" />
            <xs:element name="I_body_yy" type="xs:double" /> 
            <xs:element name="I_body_zz" type="xs:double" />
            <xs:element name="I_body_xy" type="xs:double" />
            <xs:element name="I_body_yz" type="xs:double" /> 
            <xs:element name="I_body_xz" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="initial">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lower_spring_length"  type="legs_t"/>
            <xs:element name="upper_spring_length"  type="legs_t"/>
            <xs:element name="vel_tyre"  type="legs_vector_t"/>
            <xs:element name="vel_wheel"  type="legs_vector_t"/>
            <xs:element name="vel_body" type="vector_t" />
            <xs:element name="ang_vel_body" type="vector_t" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>



      <xs:element name="external">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="boundary_conditions" type="xs:string"/>
            <xs:element name="force_tyre"  type="legs_vector_t"/> 
            <xs:element name="force_wheel"  type="legs_vector_t"/> 
            <xs:element name="force_body" type="vector_t" /> 
            <xs:element name="gravity" type="vector_t" />
          </xs:sequence>       
        </xs:complexType>
      </xs:element>



      <xs:element name="simulation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="solver" type="xs:string"/>
            <xs:element name="DOF" type="xs:int" />
            <xs:element name="max_num_iter" type="xs:int" />
            <xs:element name="tolerance" type="xs:double" />
            <xs:element name="timestep" type="xs:double" />
            <xs:element name="num_time_iter" type="xs:int" />
          </xs:sequence>       
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="car_settings" type="car_settings_t"/>

</xs:schema>
